<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-slide>
        <div class="view hm-black-light">
            <video class="video-fluid" autoplay loop>
                <source src="https://res.cloudinary.com/dn1b66xo5/video/upload/c_scale,w_4000/v1517585293/Idea_dl9qmx.mp4" type="video/mp4" />
            </video>
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h2-responsive">ABOUT NOW</h3>
            <p>NOW is a team of young creatives bursting with creative, industrial and Professional ideas on how to take your business from it’s current point to the next level</p>
        </div>
    </mdb-slide>
</mdb-carousel>