.section .section-heading {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.section-heading {
    text-align: center;
}

@media (max-width: 992px) {
    .section-description {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.section img {
    max-width: 100%;
    height: auto;
}

.section-description {
    color: #757575;
    margin-bottom: 4rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}