<nav class="navbar top-nav-collapse top-nav navbar-toggleable-md navbar-dark fixed-top black">
    <button class="navbar-toggler navbar-toggler-right" type="button">
    <span class="fa fa-bars fa-lg"></span>
    <span class="fa fa-times fa-lg"></span>
  </button>
    <a style="font-size: 30px; font-weight: bold;" class="navbar-brand" routerLink="">NOW</a>

    <div class="collapse navbar-collapse show" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto center font">

        </ul>
    </div>
</nav>