<div class="container">
    <section class="section feature-box" style="padding-top: 100px;">

        <!--Section heading-->
        <h2 class="h2-responsive center">Our amazing team</h2>
        <!--Section description-->
        <!--Grid row-->
        <div class="row features-small pt-2">

            <!--Grid column-->
            <div class="col-lg-5 mb-r center-on-small-only wow fadeInLeft" data-wow-delay="0.3s" style="padding-top:50px;">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7">

                <!--Grid row-->
                <div class="row pb-3 wow fadeInRight" data-wow-delay="0.35s">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-flag blue-text fa-3x"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Digital Marketing</h5>
                        <p class="grey-text">We help businesses find, attract and convert their target audience through an effective digital marketing methodology.</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row pb-3 wow fadeInRight" data-wow-delay="0.4s">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-laptop fa-3x blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Product Design</h5>
                        <p class="grey-text">We offer insight driven design services with expertise in Industrial Design, Brand Design, and Prototyping. </p>
                    </div>
                </div>
                <!--Grid row-->
                <div class="row pb-3 wow fadeInRight" data-wow-delay="0.45s">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-code fa-3x blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Web Development</h5>
                        <p class="grey-text">We design top-notch responsive sites with care given to everything from information architecture to content.</p>
                    </div>
                </div>

                <!--Grid row-->
                <div class="row pb-3 wow fadeInRight" data-wow-delay="0.5s">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-pencil fa-3x blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Graphics Design</h5>
                        <p class="grey-text">
                            We gather information about your brand from the big picture to the little details and explore your objectives, so we can deliver creative solutions and the results you need.</p>
                    </div>
                </div>
                <!--Grid row-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
</div>