<div class=" container">
    <section class="section team-section pb-3">

        <!--Section heading-->
        <h2 style="padding-top:50px;" class="h2-responsive center">Our amazing team</h2>
        <!--Section description-->

        <!--Grid row-->
        <div style="margin-top:20px;" class="row mb-lg-4 center-on-small-only">

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay="0.30s">

                <div class="col-md-6 float-left">
                    <div class="avatar">
                        <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/c_scale,h_333,q_auto:best,w_250/v1518081798/cover03_vlhh9b.jpg" class="z-depth-1" alt="First sample avatar image">
                    </div>
                </div>

                <div class="col-md-6 float-right">
                    <h4><strong>SOMTO AJULUCHUKWU</strong></h4>
                    <h6 class="font-bold grey-text mb-4">Creative Director / CEO</h6>
                    <p class="grey-text">The Pinky, The most hated by the team most loved by clients.</p>

                    <a href="somto@naturesownwonder.com" class="icons-sm email-ic "><i class="fa fa-envelope "> </i></a>
                    <a href="https://www.linkedin.com/in/somto-ajuluchukwu-0471a865" class="icons-sm li-ic "><i class="fa fa-linkedin "> </i></a>

                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay="0.4s">

                <div class="col-md-6 float-left">
                    <div class="avatar">
                        <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/c_scale,q_auto:best,w_250/v1517577779/IMG_20180112_151516_zg5wjg.jpg " class="z-depth-1 " alt="Second sample avatar image ">
                    </div>
                </div>

                <div class="col-md-6 float-right ">
                    <h4><strong>Thonia Akpan</strong></h4>
                    <h6 class="font-bold grey-text mb-4 ">Project Manager</h6>
                    <p class="grey-text ">I'm Thonia, the small boss.. Working with the team daily is what keeps me going. They inspire me a lot and that's why we always come up with the perfect design that suites your tastes.</p>


                    <a href="Operations@naturesownwonder.com" class="icons-sm email-ic "><i class="fa fa-envelope "> </i></a>
                    <a href="https://www.linkedin.com/in/anthonia-akpan-9412a414b" class="icons-sm li-ic "><i class="fa fa-linkedin "> </i></a>

                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row center-on-small-only ">

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay="0.5s">

                <div class="col-md-6 float-left ">
                    <div class="avatar ">
                        <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/c_scale,q_auto:best,w_250/v1517577998/f2b08b489da9e06e474f317d0f2de023_fepghw.jpg " class="z-depth-1 " alt="Fourth sample avatar image ">
                    </div>
                </div>

                <div class="col-md-6 float-right ">
                    <h4><strong>Seun Ismail</strong></h4>
                    <h6 class="font-bold grey-text mb-4 ">UI/UX Designer</h6>
                    <p class="grey-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

                    <a href="" class="icons-sm email-ic "><i class="fa fa-envelope "> </i></a>
                    <a target="blank" href="https://www.linkedin.com/mwlite/me" class="icons-sm li-ic "><i class="fa fa-linkedin "> </i></a>

                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay="0.6s">
                <div class="col-md-6 float-left ">
                    <div class="avatar ">
                        <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/c_scale,q_auto:best,w_250/v1517825872/DThk4HCW4AE_U8c_bdzx84.jpg" class="z-depth-1 " alt="Fifth sample avatar image ">
                    </div>
                </div>

                <div class="col-md-6 float-right ">
                    <h4><strong>Jemima Abu</strong></h4>
                    <h6 class="font-bold grey-text mb-4 ">Front End Developer, UI/UX designer</h6>
                    <p class="grey-text ">Jemima is a Front End Developer, UI/UX designer, yoga instructor, art teacher, animal lover and, most importantly, a huge nerd.</p>

                    <a href="" class="icons-sm email-ic "><i class="fa fa-envelope "> </i></a>
                    <a href="" class="icons-sm li-ic "><i class="fa fa-linkedin "> </i></a>

                </div>


            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay="0.4s">
                <div class="col-md-6 float-left ">
                    <div class="avatar ">
                        <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/c_scale,q_auto:best,w_250/v1517578587/20180127_140429_uqwdam.jpg" class="z-depth-1 " alt="Fifth sample avatar image ">
                    </div>
                </div>

                <div class="col-md-6 float-right ">
                    <h4><strong>Adetula Tolulope</strong></h4>
                    <h6 class="font-bold grey-text mb-4 ">Front-end Developer</h6>
                    <p class="grey-text ">Tolu is a trained Chemical Engineer, Skilled Front End Developer, Critical Thinker, an Enterpreneur and also a Team Player.</p>


                    <a class="icons-sm li-ic "><i class="fa fa-linkedin "> </i></a>
                    <!--Email-->
                    <a class="icons-sm email-ic "><i class="fa fa-envelope "> </i></a>
                </div>


            </div>

        </div>
        <!--Grid row-->

    </section>
</div>