<mdb-carousel [noPause]="false" [noWrap]="false" [isControls]="true" class="carousel slide padding-top " [animation]="'slide'">

    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="https://res.cloudinary.com/dn1b66xo5/image/upload/c_scale,w_1600/v1517566998/Ikoyi_Bridge_w0y8bg.jpg" alt="First slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h2-responsive wow fadeInLeft" data-wow-delay="0.3s">Let's Build Your Story Together</h3>
            <p class="wow fadeInRight" data-wow-delay="0.3s">This is what we do at NOW, helping clients develope their dreams to reality.</p>
        </div>
    </mdb-slide>

    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517567004/Ghanas-Independence-Arch_suw6dv.jpg" alt="Second slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h2-responsive wow rotateInDownLeft" data-wow-delay="0.3s">Transform Your Business</h3>
            <p class="wow lightSpeedIn" data-wow-delay="0.3s">Design is the secret to great business, let's design your project to a world class business.</p>
        </div>
    </mdb-slide>
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1517567022/NATIONAL_MONUMENT-_nuqskh.jpg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h2-responsive wow fadeInLeft" data-wow-delay="0.3s">Great Marketing makes the Customers Look Smart</h3>
            <p class="wow fadeInRight" data-wow-delay="0.3s">Leave your Digital Marketing problems to us</p>
        </div>
    </mdb-slide>
</mdb-carousel>